<link rel="stylesheet" href="/stylesheets/style.css">
<script src="https://kit.fontawesome.com/f4e5dcf0e0.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
<i class="fab fa-pied-piper-alt fa-9x"></i>
<p class="title">Smokin' Smoked Piper</p>

<div class="all-centre">

    <a href="/articles/home"><button>Home</button></a>
    <a href="/articles/new"><button>Create Article</button></a>
    
    <% if(articles.length) { %>
        <% articles.forEach (a => { %>
            <div class="article-heading">
                <a href="/articles/<%= a.id %>"><h4><%= a.title %></h4></a>
            </div>
        <% })%>
    <% } else { %>
        <h4>Page Not Found</h4>
    <% } %>

</div>