<link rel="stylesheet" href="/stylesheets/style.css">

<form action="/comments/<%= comment.id %>/edit" method="POST">
    <input type="text" name="content" value="<%= comment.content %>">
    <input type="text" name="author" value="<%= comment.author %>">
    <button type="submit">Update.</button>
</form>