<link rel="stylesheet" href="/stylesheets/style.css">
<script src="https://kit.fontawesome.com/f4e5dcf0e0.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
<i class="fab fa-pied-piper-alt fa-9x"></i>
<p class="title">Smokin' Smoked Piper</p>

<a href="/articles/home">Home</a>

<form action="/comments/<%= comment.id %>/edit" method="POST">
    <input type="text" name="content" value="<%= comment.content %>">
    <input type="text" name="author" value="<%= comment.author %>">
    <button type="submit">Update.</button>
</form>