<link rel="stylesheet" href="/stylesheets/style.css">

<a href="/articles/login">Login</a>
<a href="/articles/register">Register</a>

<a href="/articles">Show Articles</a>
<a href="/articles/new">Create Article</a>