<link rel="stylesheet" href="/stylesheets/style.css">
<script src="https://kit.fontawesome.com/f4e5dcf0e0.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
<i class="fab fa-pied-piper-alt fa-9x"></i>
<p class="title">Smokin' Smoked Piper</p>

<div class="home_btn-flex">
    <a href="/articles/login"><button>Login</button></a>
    <a href="/articles/register"><button>Register</button></a>
    
    <a href="/articles"><button>Show Articles</button></a>
    <a href="/articles/new"><button>Create Article</button></a>
</div>