<link rel="stylesheet" href="/stylesheets/style.css">

<div class="home_btn-flex">
    <a href="/articles/login"><button>Login</button></a>
    <a href="/articles/register"><button>Register</button></a>
    
    <a href="/articles"><button>Show Articles</button></a>
    <a href="/articles/new"><button>Create Article</button></a>
</div>