<link rel="stylesheet" href="/stylesheets/style.css">

<div class="login-form">
    <h1 class="login-heading">Register Page</h1>
    
    <form action="" method="post">
        <input type="text" name="username" placeholder="Enter username" class="login-input">
        <input type="email" name="email" placeholder="Enter email" class="login-input">
        <input type="password" name="password" placeholder="Enter password" class="login-input">
        <input type="submit" value="Register" class="login-input">
    </form>

    <div class="all-centre home-tag">
        <a href="/articles/home">Home</a>
    </div>
</div>