<link rel="stylesheet" href="/stylesheets/style.css">
<script src="https://kit.fontawesome.com/f4e5dcf0e0.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
<i class="fab fa-pied-piper-alt fa-9x"></i>
<p class="title">Smokin' Smoked Piper</p>

<div class="login-form">
    <h1 class="login-heading">Register Page</h1>
    
    <form action="" method="post">
        <input type="text" name="username" placeholder="Enter username" class="login-input">
        <input type="email" name="email" placeholder="Enter email" class="login-input">
        <input type="password" name="password" placeholder="Enter password" class="login-input">
        <input type="submit" value="Register" class="login-input">
    </form>

    <div class="all-centre home-tag">
        <a href="/articles/home">Home</a>
    </div>
</div>